#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-color: black;
}

.icons {
  padding-right: 10px;
  width: 30px;
  height: 30px;
}

ul {
  list-style: none;
  margin: 25px 50px 75px 30px;
}

li.main-list {
  padding: 25px;
  border-bottom: solid 3px white;
  font-size: larger;
}

.whole-page {
  padding: 50px;
  text-align: center;
  background-color: black;
  color: white;
  margin-left: 25%;
  width: 75%;
}

.tab {
  display: inline-block;
  margin-left: 75px;
}

.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #232323;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  position: fixed; 
  top: 0; 
  right: 0; 
}

.home-link 
{
  border:1px dotted white;
  background:#1d1f1d;
  width:75px;
}

table {
  margin: auto;
  border-collapse: collapse; 
  width: 50%;
  background-color: #333;
}

table th,
table td {
  text-align: center; 
  vertical-align: middle;
  padding: 5px;
}

table,
table th,
table td {
  border: 1px solid #555; 
}

table th {
  background-color: #444; 
  color: #fff; 
  font-weight: bold;
}

table td {
  color: #ddd;
}

a {
  color: #1e90ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}